
.dragdrop-inner
{
    border:1px solid black;
    width:80px;
    margin-top:5px;
}
.dragdrop-wrapper-bucket
{
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
    height:150px;
    width:150px;
    margin-top:100px;
}
p{
    margin-top:5px;
}
.main_container
{
    background-color:white;
}
.butn
{
    padding-bottom:50px;
}
